html,
body { margin: 0; padding: 0; height: 100%;  }

body { 
	font-size: 13px;
	font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: $h-font-family; }

a { transition: all 250ms; }

a:link, 
a:visited { 
	color: $link-color; 
}

a:hover, 
a:active { 
	color: $link-hover;
}

.scroll-indicator{
	transition: opacity 500ms;
	color: #fff;
	position: fixed;
	bottom: 0;
	z-index: 10;
	margin: 30px 20px;
	font-size: xx-large;
	text-align:center;
	
	i{ width: 40px; display: block; position: fixed; opacity: 0;}

	.first-icon{
		animation: fadeMove 1500ms infinite;
		
	}

	.second-icon{
		animation: fadeMove 1500ms infinite 750ms;
	}

	&.done{ opacity: 0; }

}

@keyframes fadeMove {
    0% {opacity: 0; font-size:20px; bottom:50px; }
    50%{ opacity: 1; font-size:30px; }
    100% {opacity: 0; font-size:20px; bottom:30px; }
}

.overflows{
	overflow-x:hidden;
	overflow-y:auto;
}

.column-left, 
.column-right { padding: 0; }

.column-left { height: 100%;}

main,
.main-container { height: 100%; }

header {
	
	height: 100%;
	width: 100%;
	padding: 0;
	position: fixed;

	.header-meta-wrapper { 
		display: table;
		width: 100%;
		position: absolute;
		height: 100%;
		z-index: 5;
		padding: 20px;
	}
	.header-meta-container{ display:table-cell; vertical-align: middle;  }
	.header-avatar{
		//display:table-cell;
		width: 90px;
		margin: 0 auto;
		border: 3px solid rgba(255,255,255,.5);
		border-radius: 100%;
		overflow: hidden;

		img{
			width: 100%
		}
	}
	
	.header-description { 
		//display: table-cell;
		color: #fff;
		vertical-align: middle;
	}
	
	.header-image {
		
		height: 100%;
		background-color: #333;
		background-image: url('../images/header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0;

	}
}

aside {
	transform: translateZ(0);
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: $base-background-color;
	border-top: 3px solid $nav-background-color;
	
	img { width: 100%; }
	
	.posts-header, .post{ border-bottom: 1px solid #eee; }
	
	.posts-header{
		padding: 20px;
		color: #999;	
	}

}

footer {
	min-height: 115px;
	color: $footer-color;
	background-color: $footer-background-color;
	padding: 10px;
}

