html,
body { margin: 0; padding: 0; height: 100%;  }

body { 
	font-size: 13px;
	font-family: $base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: $h-font-family; }

a { transition: all 250ms; }

a:link, 
a:visited { 
	color: $link-color; 
}

a:hover, 
a:active { 
	color: $link-hover;
}

.column-left, 
.column-right { padding: 0; }

.column-left { height: 100%;}

main,
.main-container { height: 100%; }

header {
	
	height: 100%;
	width: 100%;
	padding: 0;
	position: fixed;

	.header-description-wrapper { 
		position: absolute;
		display: table;
		height: 100%;
		z-index: 5;
		padding: 20px;
	}
	
	.header-description { 
		display: table-cell;
		color: #fff;
		vertical-align: middle;
	}
	
	.header-image {
		
		height: 100%;
		background-color: #333;
		background-image: url('../images/header.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 0;

	}
}

aside {
	transform: translateZ(0);
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: $base-background-color;
	border-top: 3px solid $nav-background-color;
	
	img { width: 100%; }

	.post {
		border-bottom: 1px solid #eee;
	}
}

footer {
	min-height: 115px;
	color: $footer-color;
	background-color: $footer-background-color;
}

