html,
body { 
	&.active { 
		overflow: hidden;
		>nav {top: 0;}
	}
}

.header-navigation {
	background-color: $nav-background-color;
	font-family: $nav-font-family;
	font-size: 1.3em;
	position: fixed;
	width: inherit;
	height: 34px;
	z-index: 5;
	
	a { 
		padding: 5px 10px;
		display: inline-block;
		transition: all 250ms;
	}

	a:link, 
	a:visited { 
		color: $nav-link-color; 
		background-color: $nav-link-background-color;
	}

	a:hover, 
	a:active { 
		color: $nav-link-hover;
		background-color: $nav-link-background-hover;
		text-decoration: none;
	}

	.fa-reorder { margin-right: 10px; }
}

nav {
	position: fixed;
	margin: 0 15px;
	z-index: 10;
	width: 100%;
	
	.header-mobile-navigation {
		display: none;
		height: 100%; 
		font-size: 28px;
		
		a:link, 
		a:visited { 
			color: $theme-color; 
		}

		a:hover, 
		a:active { 
			color: $accent-color;
			text-decoration: none;
		}

		.mobile-menu {
			transition: all 250ms;
			display: none;
			position: fixed;
			opacity: 0;
			background-color: #fff;
			margin: 0 -15px;
			height: 100%;
			text-align: center;

			width: 100%;
			
			.mobile-menu-header{
				border-bottom: 1px solid #eee;
				
				input{ 
					border: none;
					font-size: smaller;
					color: $accent-color;
					text-transform: uppercase;
					text-align: center;
				}
			}

			ul {
				display: table-cell;
				vertical-align: middle;
				
				li { 
					transition: all 250ms ease-in-out 100ms;
					margin: 50px 0;
					opacity: 0;

					a { background-color: transparent;}
				}
			}
			.mobile-menu-footer{
				border-top:1px solid #eee;
				i{ padding: 0 30px; }
			}
			&.active { 
				opacity: 1;

				li {
					opacity: 1;
					margin: 20px 0;
				}
			}
		}


		.menu-toggle { 
			transition: all 250ms;
			
			// alpha fallback
			background-color: $accent-color;
			background-color: $nav-mobile-button-background-color;
			color: $nav-mobile-button-icon-color;
			padding: 8px;
			width: 55px;
			height: 55px;
			text-align: center;
			position: fixed;
			z-index: 10;
			right: 30px;
			font-size: 28px;
			bottom: 30px;
			border-radius: 100%;
			text-shadow: 0 -1px 0 #999;
			box-shadow: 0 1px 1px 0 #333;

			&.active { 
				background-color: transparent;
				// alpha fallback
				color: $accent-color;
				color: $nav-mobile-button-background-color;
				text-shadow: none;
				box-shadow: none;
			}
		}
	}
}



