$accent-color: #1abce2;
$theme-color: #333;

$base-background-color: #fff;
$base-font-family: 'Open Sans', sans-serif;
$h-font-family: 'Raleway', sans-serif;

$nav-font-family: 'Raleway', sans-serif;
$nav-link-color: #fff;
$nav-link-hover: #fff;
$nav-link-background-color: transparent;
$nav-link-background-hover: $accent-color;
$nav-background-color: $theme-color;

$nav-mobile-button-icon-color: #fff;
$nav-mobile-button-background-color: rgba($accent-color, .9);

$footer-background-color: #333;
$footer-color: #fff;

$link-color: #f00;
$link-hover: #dc143c;
