$accent-color: #1ABCE2;

$base-background-color: #FFF;
$base-font-family: 'Open Sans', sans-serif;
$h-font-family: 'Raleway', sans-serif;

$nav-font-family: 'Raleway', sans-serif;
$nav-link-color: #666;
$nav-link-hover: $accent-color;
$nav-link-background-color: transparent;
$nav-link-background-hover: #EEE;
$nav-background-color: rgba(255,255,255,0.9);

$nav-mobile-button-icon-color: #FFF;
$nav-mobile-button-background-color:rgba($accent-color, 0.9);

$footer-background-color: #333;
$footer-color: #FFF;

$link-color: red;
$link-hover: crimson;