html.active, body.active {
  overflow: hidden; }

.header-navigation {
  background-color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  position: fixed;
  width: inherit;
  z-index: 5; }

.header-menu-container {
  left: -200px;
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 600px; }

.header-menu-bar a {
  padding: 5px 10px;
  display: inline-block;
  -webkit-transition: all 250ms;
          transition: all 250ms; }
.header-menu-bar a:link, .header-menu-bar a:visited {
  color: #fff;
  background-color: transparent; }
.header-menu-bar a:hover, .header-menu-bar a:active {
  color: #fff;
  background-color: #1abce2;
  text-decoration: none; }
.header-menu-bar .fa-reorder {
  margin: 0 10px 0 5px; }

.main-menu-button {
  float: left;
  padding: 5px;
  cursor: pointer;
  color: #fff; }
  .main-menu-button:hover {
    background-color: #1abce2; }

.header-menu {
  -webkit-transition: left 250ms, opacity 250ms;
          transition: left 250ms, opacity 250ms;
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  left: 200px;
  width: 200px;
  border-right: 1px solid #333;
  padding: 10px; }
  .header-menu ul {
    margin: 0; }
  .header-menu li {
    -webkit-transition: all 250ms 250ms;
            transition: all 250ms 250ms;
    margin-left: 10px;
    opacity: 0;
    margin-top: 15px; }
    .header-menu li a {
      width: 100%;
      display: inline-block; }
    .header-menu li:first-child {
      margin-top: 0; }
  .header-menu.open {
    left: 0;
    opacity: 1; }
    .header-menu.open li {
      margin-left: 0;
      opacity: 1; }

nav {
  position: fixed;
  margin: 0 15px;
  z-index: 10;
  width: 100%; }
  nav .mobile-navigation {
    height: 100%;
    font-size: 28px; }
    nav .mobile-navigation .mobile-menu {
      -webkit-transition: all 250ms;
              transition: all 250ms;
      display: none;
      position: fixed;
      opacity: 0;
      background-color: rgba(0, 0, 0, 0.85);
      margin: 0 -15px;
      height: 100%;
      text-align: center;
      width: 100%; }
      nav .mobile-navigation .mobile-menu .mobile-menu-header {
        border-bottom: 1px solid #333; }
        nav .mobile-navigation .mobile-menu .mobile-menu-header input {
          text-align: center;
          border: 0; }
      nav .mobile-navigation .mobile-menu ul {
        display: table-cell;
        vertical-align: middle; }
        nav .mobile-navigation .mobile-menu ul li {
          -webkit-transition: all 250ms ease-in-out 100ms;
                  transition: all 250ms ease-in-out 100ms;
          margin: 50px 0;
          opacity: 0; }
          nav .mobile-navigation .mobile-menu ul li a {
            background-color: transparent; }
      nav .mobile-navigation .mobile-menu .mobile-menu-footer {
        border-top: 1px solid #333; }
        nav .mobile-navigation .mobile-menu .mobile-menu-footer i {
          padding: 5px 30px; }
      nav .mobile-navigation .mobile-menu.active {
        opacity: 1; }
        nav .mobile-navigation .mobile-menu.active li {
          opacity: 1;
          margin: 20px 0; }
    nav .mobile-navigation .mobile-menu-toggle {
      -webkit-transition: all 250ms;
              transition: all 250ms;
      background-color: #1abce2;
      background-color: rgba(26, 188, 226, 0.9);
      color: #fff;
      padding: 8px;
      width: 55px;
      height: 55px;
      text-align: center;
      position: fixed;
      z-index: 10;
      right: 30px;
      font-size: 28px;
      bottom: 30px;
      border-radius: 100%;
      text-shadow: 0 -1px 0 #999;
      box-shadow: 0 1px 1px 0 #333; }
      nav .mobile-navigation .mobile-menu-toggle.active {
        background-color: transparent;
        color: #1abce2;
        color: rgba(26, 188, 226, 0.9);
        text-shadow: none;
        box-shadow: none; }

.scroll-indicator {
  -webkit-transition: opacity 500ms;
          transition: opacity 500ms;
  color: #fff;
  position: fixed;
  bottom: 0;
  z-index: 10;
  margin: 30px 20px;
  font-size: xx-large;
  text-align: center; }
  .scroll-indicator i {
    width: 40px;
    display: block;
    position: fixed;
    opacity: 0; }
  .scroll-indicator .first-icon {
    -webkit-animation: fadeMove 1500ms infinite;
            animation: fadeMove 1500ms infinite; }
  .scroll-indicator .second-icon {
    -webkit-animation: fadeMove 1500ms infinite 750ms;
            animation: fadeMove 1500ms infinite 750ms; }
  .scroll-indicator.done {
    opacity: 0; }

@-webkit-keyframes fadeMove {
  0% {
    opacity: 0;
    font-size: 10px;
    bottom: 30px; }

  50% {
    opacity: 1;
    font-size: 30px; }

  100% {
    opacity: 0;
    font-size: 10px;
    bottom: 50px; } }

@keyframes fadeMove {
  0% {
    opacity: 0;
    font-size: 10px;
    bottom: 30px; }

  50% {
    opacity: 1;
    font-size: 30px; }

  100% {
    opacity: 0;
    font-size: 10px;
    bottom: 50px; } }

aside {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fff;
  border-top: 3px solid rgba(0, 0, 0, 0.85); }

footer {
  min-height: 115px;
  color: #fff;
  background-color: #333;
  padding: 10px; }

header {
  height: 100%;
  width: inherit;
  padding: 0;
  position: fixed;
  overflow: hidden; }
  header .header-meta-wrapper {
    display: table;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 5;
    padding: 20px; }
  header .header-meta-container {
    display: table-cell;
    vertical-align: middle; }
  header .header-avatar {
    width: 90px;
    margin: 0 auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    overflow: hidden; }
  header .header-description {
    text-align: center;
    color: #fff;
    vertical-align: middle; }
  header .header-image {
    height: 100%;
    background-color: #333;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0; }

.posts-header, .post {
  border-bottom: 1px solid #eee; }

.posts-header {
  padding: 20px;
  color: #999; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; }

a {
  -webkit-transition: all 250ms;
          transition: all 250ms; }

a:link, a:visited {
  color: #1abce2; }

a:hover, a:active {
  color: #1abce2; }

img {
  width: 100%; }

input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #eee;
  background: none; }

.column-left {
  height: 100%; }

.column-left, .column-right {
  padding: 0; }

main, .main-container {
  height: 100%; }

@media (min-width: 768px) {
  header .header-image {
    position: fixed;
    top: 0;
    width: 60%; } }

@media (max-width: 767px) {
  .overflows {
    overflow-x: hidden;
    overflow-y: auto; }
  .main-container {
    -webkit-perspective: 1px;
            perspective: 1px;
    height: 100vh; }
  header {
    -webkit-transform: translateZ(-1px) scale(2);
            transform: translateZ(-1px) scale(2);
    height: 100%;
    width: 100%;
    padding: 0;
    position: relative;
    top: inherit; }
  .header-description {
    font-size: larger;
    margin-top: 15px; }
  aside {
    padding-top: 0; }
    aside .post {
      border-left: 1px solid #eee; } }

@media (max-width: 450px) {
  .post {
    width: 100%; } }
