section.header-menu-bar
  div#main-menu-button.main-menu-button
    i.fa.fa-reorder
    span Menu
  
  a(href="#").pull-right
    i.fa.fa-rss
      
  a(href="#").pull-right
    i.fa.fa-twitter

section.header-menu-container
  section.header-menu
    ul.list-unstyled
      li
        div.menu-header
          input(placeholder="search")
      li 
        a(href="#")
          span Home
      li 
        a(href="/")
          span About

      li 
        a(href="/")
          span Features

      li 
        a(href="/")
          span Contact