section.mobile-menu
        
  ul.list-unstyled
    li
      div.mobile-menu-header
        input(placeholder="search")
    li 
      a(href="#")
        span Home
    li 
      a(href="/")
        span About

    li 
      a(href="/")
        span Features

    li 
      a(href="/")
        span Contact
    li
      div.mobile-menu-footer
        a(href="#")
          i.fa.fa-twitter
        a(href="#")
          i.fa.fa-instagram
        a(href="#")
          i.fa.fa-rss

section.mobile-menu-toggle
  i.fa.fa-reorder