doctype html

<!--[if IE 8]> <html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]> <html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
//======================================================
//   ________ ________  _______                         
//  /_  __/ // / __/  |/  / __/                         
//   / / / _  / _// /|_/ / _/                           
//  /_/ /_//_/___/_/  /_/___/                           
//                                                      
//======================================================
// Author: Luis Reyes                                   
// Website: http://luisreyes.com                        
// Github: luisreyes                                    
// Twitter: @luisreyesdev                               
// Theme: [THEME NAME]                                  
// Version: [THEME VERSION]                             
//======================================================
head
  <!--[if lt IE 9]>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
  title {Title}
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  //- |{block:Description}
  //- meta(name="description" content="{MetaDescription}")
  //- |{/block:Description}
  
  link(rel="shortcut icon" type="image/x-icon" href="{Favicon}")
  link(rel="alternate" type="application/rss+xml" href="{RSS}")
  each link in stylesheet
    link(rel="stylesheet" type="text/css" href=link)

  //-include theme_options
  //-include styles

body
  
  nav#app-navigation
    section.header-mobile-navigation.visible-xs
      section.mobile-menu
        
        ul.list-unstyled
          li
            div.mobile-menu-header
              input(placeholder="search")
          li 
            a(href="#")
              span Home
          li 
            a(href="/")
              span About

          li 
            a(href="/")
              span Features

          li 
            a(href="/")
              span Contact
          li
            div.mobile-menu-footer
              a(href="#")
                i.fa.fa-twitter
              a(href="#")
                i.fa.fa-instagram
              a(href="#")
                i.fa.fa-rss
      section.menu-toggle
        i.fa.fa-reorder

  main#app-main.container-fluid
    section.scroll-indicator.visible-xs
      i.fa.fa-chevron-down.first-icon
      i.fa.fa-chevron-down.second-icon
    section.main-container.row
      
      div#app-image-content.column-left.col-sm-7.col-xs-12
        header#app-header
          section.header-meta-wrapper
            div.header-meta-container
              div.header-avatar
                img(src="images/avatar.png")
              div.header-description 
                h3.text-uppercase 
                  | Spectacular Tumblr Theme
          section.header-image

      div#app-page-content.column-right.col-sm-5.col-xs-12
        section.header-navigation.hidden-xs
          section.hidden-xs
            a(href="#")
              i.fa.fa-reorder
              span Menu

            a(href="#").pull-right
              i.fa.fa-rss
                
            a(href="#").pull-right
              i.fa.fa-twitter

        aside#app-aside
          section.aside-posts.row
            include mock_data/posts
        footer#app-footer
          p There is no dount this is a great looking theme for your blog
          div
    
  
  include scripts
  each script in scripts
    script(type="text/javascript" src=script)


    
</html>
