
for i in [0,1,2,3,4,5,6,7,8,9,,10,11,12,13,14]
	section.post.col-xs-6.col-sm-12.col-lg-6
		h3 Post Number #{i}
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis lobortis metus. Vestibulum elementum lorem dui, quis tempor felis cursus in. Quisque luctus neque magna, in eleifend nisl sagittis nec.